<html>
<head>
</head>
<body>

<p>Beste {{ username }}, </p>

<p>U wordt verzocht uw e-mailadres te verifieren om uw Rookvrijspelen-account te activeren.</p>

<p>Deze koppeling verloopt over 24 uur. Als de knop is verlopen, vraagt u een nieuwe verificatiemail aan.</p>

<p>We hebben een verzoek ontvangen voor een Rookvrijspelen-account die is gekoppeld aan dit e-mailadres. Als dit verzoek niet van u afkomstig is, dient u een hulpverzoek in of stuurt u een e-mail naar abuse@rookvrijspelen.nl.

<p>Hartelijk bedankt, <br />
    Rookvrijspelen.nl</p>
<a href="{{ link }}">Unsubscribe</a>
</body>
</html>