<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Help je mee met het rookvrij maken van mijn speeltuin?</h1>
<p>Beste {{ invitee }},</p>
<p>U bent uitgenodigd door {{ invitedBy }} om deel te nemen aan een actie om een speeltuin rookvrij te maken. Het gaat om:</p>
<p>{{ playground }}</p>
<p> De actiepagina is te vinden op:</p>
<p> <a href="{{ link }}">{{ link }}</a> </p>

<p>Hartelijk bedankt, <br />
    Rookvrijspelen.nl</p>
<a href="{{ link }}">Unsubscribe</a>
</body>
</html>